<div class="container">
  <form (submit)="filterSearch()">
    <div class="row">
      <div class="col-sm">
        <input type="text" [(ngModel)]="search" name="search" class="form-control" placeholder="Search" />
      </div>
      <div class="col-sm">
        <button class="btn btn-primary btn-block">Buscar</button>
      </div>
    </div>
  </form>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="name">Name</th>
      <th scope="status">Status</th>
      <th scope="charge">Charge</th>
      <th scope="expiration">Expiration</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="emptySearch; ">
      <td>No existen resultados para la búsqueda</td>
    </ng-container>
    <tr *ngFor="let item of extinguisherService.extinguishers">
      <td>{{item.name}}</td>
      <td>{{item.status}}</td>
      <td>{{item.charge}}</td>
      <td>{{item.expiration}}</td>
    </tr>
  </tbody>
</table>