<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand text-white">Sistema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/task">Home</a>
      </li>
      <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/signin">iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">registro</a>
        </li>
      </ng-container>
      <ng-template #loggedIn>
        <li class="nav-item">
          <a class="nav-link" routerLink="/private">usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer; " (click)="authService.logout()">cerrar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/extinguishers">extinguishers</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<br>
<router-outlet></router-outlet>


<!-- 

<div class="footer">
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a routerLink="">Back to top</a>
      </p>
      <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
          started guide</a>.</p>
    </div>
  </footer>
</div>
<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
</style> -->